{% extends 'Dashboard.html' %}
{% load static %}

{% block title %}
    
{% endblock %}

{% block content %}
    <h1>Modifier l'employé </h1>
    <div>
        <form method="post" action="{% url 'workers_edit' pk=user.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="edit-username">Nom d'utilisateur</label>
                <input type="text" id="edit-username" name="username" class="form-control" value="{{ user.username }}" required>
            </div>
            <div class="form-group">
                <label for="edit-email">Email</label>
                <input type="email" id="edit-email" name="email" class="form-control" value="{{ user.email }}" required>
            </div>
            <div class="form-group">
                <label for="edit-password">Nouveau mot de passe</label>
                <input type="password" id="edit-password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="edit-first-name">Prénom</label>
                <input type="text" id="edit-first-name" name="first_name" class="form-control" value="{{ user.first_name }}" required>
            </div>
            <div class="form-group">
                <label for="edit-last-name">Nom de famille</label>
                <input type="text" id="edit-last-name" name="last_name" class="form-control" value="{{ user.last_name }}" required>
            </div>
            <div class="form-group">
                <label for="edit-role">Rôle</label>
                <select id="edit-role" name="role" class="form-control">

                    <option value="Admin" {% if 'Admin' in user.groups.all %}selected{% endif %}>Admin</option>
                    <option value="Technicien" {% if 'Technicien' in user.groups.all %}selected{% endif %}>Technicien</option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
            <a href="{% url 'workers_managment' %}" class="btn btn-default">Annuler</a>
        </form>
        
    </div>

{% endblock %}
